.App {
  text-align: center;
  background-color: #16181b;
  color: aliceblue;
  margin: 20px;
}

.tittle-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #16181b;
  color: aliceblue;
}

.tittle-bar-buttons{
  background: #16181b;
  border: none;
  color: aliceblue;
  font-size: 16px;
  cursor: pointer;
  padding: 0 10px;
}

.tittle-bar-buttons button:hover{
  color: #61dafb
}

margin {                       
  background-color: #16181b; 
}

.logs {
  margin-top: 30px;
  padding: 30px;
  height: 500;
  overflow-y: scroll;
  background-color: #23262b;
  color: aliceblue;
}

.footer {
  background-color: #16181b;
}

input {
  background-color: #23262b;
  color: aliceblue;
}

button {
  background-color: #23262b;
  color: aliceblue;
}

.log-messages {
  text-align: left;
  font-family: monospace;
  font-size: 14px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

canvas {
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
